version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: commerce-backend
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8080
    networks:
      - commerce-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: commerce-frontend
    ports:
      - "5173:5173"
    environment:
      # Vite will use this to call the API
      VITE_API_BASE_URL: http://localhost:8080
    depends_on:
      - backend
    networks:
      - commerce-net

networks:
  commerce-net:
    driver: bridge
